<html>
<head>
  <title>{{ title }}{% if not home %}| NSWI177{% endif %}</title>
  <link type="text/css" rel="stylesheet" href="{{ SITE.path_to_root }}main.css" />
</head>
<body>

<header>
  <h1>{{ title }}</h1>
</header>

<div id="wrapper">
<aside id="sidebar">
  <nav>
    <ul>
      <li><a href="{{ SITE.path_to_root }}index.html">NSWI177</a></li>
      <li><a href="{{ SITE.path_to_root }}labs/index.html">Labs</a></li>
      <li><a href="{{ SITE.path_to_root }}tasks/index.html">Tasks</a></li>
    </ul>
  </nav>
</aside>

<section id="content">
<article>    
  

  {{ content|markdownify }}
  
</article>
</section>
</div>

</body>
</html>  
